.index__page {
  .head {
    width: 100%;
    height: 100%;
    border: 1px solid red;
  }
  .content {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;

    .left_content {
      width: 909px;
      .chart_area {
        height: 437px;
        border: 1px solid red;
      }
      .promotion_card_area {
        height: 100px;
        margin-top: 22px;
        border: 1px solid red;
      }
      .product_card_area {
        height: 345px;
        margin-top: 22px;
        border: 1px solid red;
      }
    }
    .right_content {
      width: 288px;
      .account_area {
        height: 267px;
        border: 1px solid red;
      }
      .index_banner_area {
        height: 148px;
        margin-top: 20px;
        border: 1px solid red;
      }
      .product_news_area {
        height: 470px;
        margin-top: 20px;
        border: 1px solid red;
      }
    }
  }
  .foot {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border: 1px solid red;
  }
}
